<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" (click)='verLogins(loginsVer)'>Ver logs logins</button>
    <button class="btn btn-outline-success" type="button" (click)='verOperaciones(operacionesVer)'>Ver logs operaciones</button>
    <button class="btn btn-outline-success" type="button" (click)='verGrafico(graficoVer)'>Ver graficos</button>
    <button class="btn btn-outline-success" type="button" (click)='verId(idVer)'>Ver logs de un id</button>
  </form>
</nav>

<div id='principal'>
  <div class='divs' id='uno' *ngIf='loginsVer'>
      <h3>Logs de Login:</h3>
      <br>
      <table id="tabla"  >
          <thead>
            <tr>
              <th scope="col">Cuenta</th>
              <th scope="col">Fecha</th>
              <th scope="col">Tipo</th>
            
      
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let log of logsLogin">
                <td>{{log.Account}}</td>
                <td>{{log.Fecha.date}}</td>
                <td>{{log.Tipo}}</td>
              </tr>
            
          </tbody>
        </table>
    
  </div>

<div class='divs' id='dos' *ngIf='operacionesVer'>
 <h3>Logs de Operaciones:</h3>
    <br>
    <table id="tabla" >
        <thead>
          <tr>
            <th scope="col">Cuenta</th>
            <th scope="col">Fecha</th>
            <th scope="col">Metodo</th>
            <th scope="col">Tipo</th>
           
    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of operaciones">
              <td>{{log.Account}}</td>
              <td>{{log.Fecha.date}}</td>
              <td>{{log.Metodo}}</td>
              <td>{{log.Tipo}}</td>
            </tr>
           
        </tbody>
      </table>


</div>


<div class='divs' id='tres'  *ngIf='graficoVer'>
    <app-grafico-logs></app-grafico-logs>
</div>


<div class='divs' id='cuatro'  *ngIf='idVer'>
    <h3>Logs De un Id especifico:</h3>
    <input type="text" [(ngModel)]="idRecibido">
    <button (click)="logXId()">Buscar</button>
    <table id="tabla" >
      <thead>
        <tr>
          <th scope="col">Cuenta</th>
          <th scope="col">Fecha</th>
          <th scope="col">Metodo</th>
          <th scope="col">Tipo</th>
         
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logDePersona">
            <td>{{log.Account}}</td>
            <td>{{log.Fecha.date}}</td>
            <td>{{log.Metodo}}</td>
            <td>{{log.Tipo}}</td>
          </tr>
         
      </tbody>
    </table>
</div>
</div>

