<div id="loPpal">
  <h1 align="center">La comanda</h1>
  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="../pedidoNuevo">Realizar Pedido</button>
  
  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="../rutaPedido">Seguimiento del pedido</button>

  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="../carta">Ver la Carta</button>

  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="../mesasDisponiblesTrue">Mesas Disponibles</button>

  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="../misPedidos">Mis Pedidos</button>
<br>
  <img id='foto' src="../../../assets/resto.jpg" alt="">
</div>