<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" routerLink="pedidos">Pedidos</button>
      <button class="btn btn-outline-success" type="button" routerLink="traerUsuarios">Usuarios</button>
      <button class="btn btn-outline-success" type="button" routerLink="mesas">Mesas</button>
      <button class="btn btn-outline-success" type="button" routerLink="menu">Menu</button>
      <button class="btn btn-outline-success" type="button" routerLink="factura">Facturacion</button>
      <button class="btn btn-outline-success" type="button" routerLink="logs">Logs</button>
    </form>
  </nav>
    
    <router-outlet></router-outlet>